<ion-toolbar>
    <ion-label slot="start" class="ion-padding bgm-name">
        <i *ngIf="loading">Loading...</i> {{ bgm.name }}
    </ion-label>
    <ion-buttons class="ion-margin ion-justify-content-center">
        <ion-button
            (click)="playback(bgmPlaybackEvent.Reverse)"
            [disabled]="loading"
        >
            <ion-icon name="play-back-outline"></ion-icon>
        </ion-button>
        <ion-button
            (click)="
                playback(
                    isPlaying ? bgmPlaybackEvent.Pause : bgmPlaybackEvent.Play
                )
            "
            [disabled]="loading"
        >
            <ion-icon
                *ngIf="!loading"
                size="large"
                slot="icon-only"
                [name]="isPlaying ? 'pause' : 'play'"
            ></ion-icon>

            <ion-spinner
                *ngIf="loading"
                slot="icon-only"
                name="crescent"
                class="loading-spinner"
            ></ion-spinner>
        </ion-button>
        <ion-button
            (click)="playback(bgmPlaybackEvent.Forward)"
            [disabled]="loading"
        >
            <ion-icon name="play-forward-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-range
        slot="end"
        pin="true"
        snaps="true"
        ticks="false"
        [value]="player && player.getVolume()"
        [disabled]="loading"
        class="ion-padding bgm-player-volume"
        (ionChange)="setVolume($any($event))"
    >
        <ion-icon slot="start" name="volume-low-outline"></ion-icon>
        <ion-icon slot="end" name="volume-high-outline"></ion-icon>
    </ion-range>
    <ion-progress-bar
        class="bgm-player-progress-bar"
        [value]="playbackTime"
        [buffer]="bufferedTime"
        [type]="player ? 'determinate' : 'indeterminate'"
        (click)="seekVideo($event)"
    ></ion-progress-bar>
</ion-toolbar>
